.resizer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  cursor: ns-resize;
  z-index: 999;
}

#console{
  overflow-y: scroll;
  /* -ms-overflow-style: none; 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #E0E0E0; 
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; 
}

#console {
  overflow-y: auto;
}