.markdown_output {
    padding-top: 80px;
    margin: 0px 22px 0px 22px;
}

.markdown_output h2 {
    padding-top: 15px;
    border-top: 2px solid #ff8123;
    font-size: 23px;
    font-weight: bold;
    line-height: 30px;
    color: #ff8123;
    margin: 0px;
    margin-top: 50px;
    margin-bottom: 10px;
}

.markdown_output h3 {
    font-weight: 700;
    font-size: 1.2em;
    word-break: keep-all;
    margin: 0px;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 10px;
    line-height: normal;
}

.markdown_output p {
    font-size: 1.2em;
    width: 98%;
    word-break: keep-all;
    display: block;
    margin: 0px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.markdown_output ul {
    font-size: 1.2em;
}

.markdown_output img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

.markdown_output .img_content_box {
    font-size: 1.2em;
    text-align: center
}

.markdown_output .function_btn {
    background-image: url(/public/common/images/blockcode-1.png);
    background-color: #E7F0ED;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 400px;
    height: 32px;
    padding-left: 40px;
    padding-top: 6px;
    color: black;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.markdown_output .slide_component_box {
	position: relative; width: 98%; height: 0; overflow: hidden; padding-bottom: 66%;
}

.markdown_output .slide_component {
	position: absolute; left: 0; top: 0; width: 100%; height: 100%;
}

.markdown_output .part_component {
	display: inline-block;
	width: 32%;
}

.markdown_output .parts_compoent_box {
	position: relative; width: 100%; height: 0; overflow: hidden; padding-bottom: 135%;
}

.markdown_output .parts_compoent {
	position: absolute; left: 0; top: 0; width: 100%; height: 100%;
}

.markdown_output .parts_image_bar {
	position: relative;
	width: 100%;
	height: 0;
	overflow: hidden;
	padding-bottom: 100%;
}

.markdown_output .parts_image {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.markdown_output .parts_qty {
	position: absolute;
	display: table;
	width: 23%;
	height: 23%;
	font-size: 1.3em;	
	text-align: center;
	border-radius: 3em;
	color: white;
	background-color: #7d7d7d;
}

.markdown_output .parts_comment_bar {
	position: relative;
	width: 100%;
	padding: 4px;
	margin-top: -10px;
	text-align: center;
	font-family: Arial;
	color: white;
	background-color: #ff8123;
}

@media all and (min-width:722px) and (max-width:8000px) {
	.markdown_output .parts_comment_bar {
		font-size: 1em;
	}
}

@media all and (max-width:721px) {
	.markdown_output .parts_comment_bar {
		font-size: 0.8em;
	}
}