/* 
 * D2 coding (Korean) http://dev.naver.com/projects/d2coding/
 */
@font-face {
  font-family: 'D2 coding';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/d2codingbold.woff2') format('x-woff2'),
       url('../fonts/d2codingbold.woff') format('woff'),
}
@font-face {
  font-family: 'D2 coding';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/d2coding.woff2') format('x-woff2'),
       url('../fonts/d2coding.woff') format('woff'),
}
