body {
    background-color: #fff;
    font-family: monospace, sans-serif, "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter";
    overflow: hidden;
}

label {
    font-family: sans-serif;
    color: #6e707e;
    font-size: 14px;
}

.block-list-div-container {
    background-color: #e2f5ff;
    border: solid 1px #adcfe3;
    width: 295px;
    float: left;
}

.block-list-div {
    margin: 10px;
}

#block-controller-container {
    height: 35px;
 }

#block-maker-div-container {
    position: absolute;
    border: solid 1px #c6c6c6
}

#block-maker-form {
    margin: 10px;
}

#blockly-div {
    margin-top: 0;
}

#block-source-div {
    margin-top: 0;
}

#block-maker-form fieldset {
    margin: 0;
    border: none;
    padding: 10px 0;
}

#block-maker-form input, #block-maker-form button, .top-control-panel button {
    line-height: 1.5;
    font-weight: 400;
    font-size: 0.8rem;
    margin: 0 10px 3px 0;
    padding: .375rem .75rem;
    border: 1px solid #d1d3e2;
    border-radius: .35rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

#block-maker-form select {
    height: calc(1.5em + .75rem + 2px);
    line-height: 1.5;
    font-weight: 400;
    font-size: 0.8rem;
    margin: 3px 10px;
    padding: .375rem .75rem;
    border: 1px solid #d1d3e2;
    border-radius: .35rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}


#block-menu-tab-div {
    margin: 0;
}
.menu-tab-item {
    padding: 6px 0;
    width: 97px;

}
.menu-tab-item:first-child {
    border-radius: 0;
}

.menu-tab-item:last-child {
    border-radius: 0;
}