@charset "utf-8";
@import url("common.css");

@font-face {
font-family:nanumbarun;
src: url(../fonts/NanumBarunGothic.eot);
src: local("NanumBarunGothic"), url(../fonts/NanumBarunGothic.woff) format("woff");
}

/*Layer*/
html{overflow: scroll; overflow-x: hidden;}
body{width:100%; font-family: nanumbarun;}
#wrap {width:100%;}
#container{width:100%;}

/* 상단 제목(ex.FAQ, 커뮤니티 …) */
.boxh { width: 4px;
    height: 22px;
    background-color: #fff;
    float: left;
    margin-top: calc(19px - 11px);
    margin-right: 7px; } 

/* 헤더 옆 상자 */
.boxh { 
    width: 4px;
    height: 22px;
    background-color: #fff;
    margin-right: 6px;
    margin-top: 7px;}


/* 헤더 */
.page-header {
	background-color: #fff;
	padding-bottom: 9px;
	margin: 40px 0 20px;
	border-top: 2px solid #ceced6;
	border-bottom: 1px dashed #e8e8ea;
	border-radius: 3px 3px 0 0;
    font-family: "NanumBarunGothic";
    color: #353542; }

.headleft { top: -16px; position: relative;
}

 /* 텍스트 */
.main_text {
    font-size: 1.2em;
    width: 98%;
    word-break: keep-all;
    font-family: "NanumGothic";
    line-height: 1.7em;
    margin-left: 10px;
    padding-left: 15px; }

.main_text:last-child {
    padding-bottom: 25px;
    border-bottom: 1px dashed #d2d2d2; }

.col-md-12-text {
    padding: 0 0 20px 20px; 
    border-bottom: 1px dashed #d2d2d2; }

h3, h4 { padding-left: 25px; }
.page-header h4 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px; }

.content_image_box:last-child {
    margin-bottom: 30px;
    border-bottom: 1px dashed #d2d2d2; }

/* 목록보기 버튼 */
.btn-list {
    color: #fff;
    background-color: #353543;
    padding: 6px 0px;
    font-size: 14px; text-align: center;
    white-space: nowrap; vertical-align: middle;
    width: 100px; 
    line-height: 1.42857143; 
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px; 
    display: block;
    margin-left: 20px;
    margin-top: 12px;}

.btn-list:hover {
    background-color: #ff8123;
    color: #fff;
    border: 1px solid #ff8123; }

.btn-list:active {
    background-color: #bd590e;
    border: 1px solid #bd590e;
    color: #fff;}

.btn-list:visited {
    background-color: #ff8123;
    border: 1px solid #ff8123;
    color: #fff;}

#rows { border-bottom: 1px solid #ff8123; }

#p3_header li.headleft { top: -12px; }

/* 페이지 버튼 */

.pagination>.active>a {
    background-color: #353543;
    border: 1px solid #353543;
}
.pagination>li>a {
    color: #868686;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination>li>a:hover {
    color: #5d5c5c;
    background-color: #ddd;
    border: 1px solid #cecece;
}

.table>tbody>tr>td { font-size: 14.5px; padding: 15px; padding-left: 25px; font-family: "NanumBarunGothic"; }

#nouse { margin-top: 85px;}

.container2 { text-align: center;}

/*QnA*/
.form-control{
    border: none;
    background-color: #d2d2d2;
}