a:active {text-decoration: none;}
ul { list-style: none; }
li { display: inline-block; }
.sel_content { 
    width:100%;
    max-width: 1280px;
    margin-top: 65px;
    background: url("../images/lang_back.png"); 
    overflow: hidden;
} /* link */

.sel_top {
    width: 100%;
    margin: auto;
}
.sel_top_pic { 
    text-align: center;
    padding-top: 30px;

}
#top_sally { 
    display: block;
    margin: auto;
}

.sel_top_con {
    width: 480px;
    margin: auto;
    background-color: #fff; 
    box-shadow: 0 5px 15px #ddd;
    margin-bottom: 8%;
}
.sel_top_con_1 {
    background-color: #ff6633;
    border-radius: 7px 7px 0 0;
    height: 14px;
}
.sel_top_con_2 {
    padding-bottom: 43px;
    border-bottom: 15px solid #353543;
    padding: 7.5% 3% 3%;
    min-height: 380px;
}

.con_con { 
    width: 100%;    
    overflow: hidden;
    margin-bottom: 20px;
}


.sel_text_1 {
    width:60%;
    color: #ff6633;
    font-size: 27px;
    font-weight: bold;
    /*margin-top: 25px; 
    margin-bottom: 25px; */
    text-shadow: 0px 4px 0px #fde3da;
    /*overflow: hidden;*/
    float:left; 
}
.sel_text_img { 
    width: 47px; 
    float:left;
}

.sel_text_2 {
    font-size: 16px;
    font-weight: 400;
    font-family: NanumGothic;
}

.country_list, #language_list {
    width: 40%;
    /*text-align: left;*/
    float: left;
}

.country_list { text-align: center;}
.sel_text_line {
    width: 42px;
    background-color: #ff6633;
    height: 3px;
    float:left;
    margin: auto;
    margin-left:3px;
}

.sel_img_line {
    width: 47px;
    overflow: hidden;
    float:left;
    margin-left: calc(50% - 26%);
    margin-right: 7px;
}

.sel_img_line img {
    display:block;
    margin-bottom: 4px;
}
.country_list ul {margin-bottom: 10px;}
/*초록색*/
.sel_button {
    width: 60%;
    height: 38px;
    line-height: 36px;
    background-color: #1bae67;
    border: 1px solid #1bae67;
    border-radius: 5px;
    box-shadow: 0px 4px 2px #efefef;
    cursor: pointer;
    display: block;
    margin-bottom: 4%;
    /*padding-left: 10%;*/
    color: #fff;
}

.sel_button:hover {
    background-color: #42c485;
    border: 1px solid #42c485;
}

/*연초록색*/
.sel_button_2 {
    width: 60%;
    height: 38px;
    line-height: 36px;
    background-color: #fff;
    border: 1px solid #c6ded3;
    border-radius: 5px;
    box-shadow: 0px 5px 2px #efefef;
    cursor: pointer;
    display: block;
    margin-bottom: 4%;
    /*padding-left: 10%;*/
    color: #87b59f;
}

.sel_button_2:hover {
    background-color: #ebf6f1;
    border: 1px solid #99d4b8;
}

.sel_button_2:active {
    background-color: #d1f0e0;
    border: 1px solid #75b795;
    color: #389064;
}

/* 주황색 */
.sel_button_3 {
    width: 60%;
    height: 40px;
    line-height: 38px;
    background-color: #ffa533;
    border: 1px solid #ffa533;
    border-radius: 5px;
    box-shadow: 0px 5px 2px #efefef;
    cursor: pointer;
    display: block;
    margin-bottom: 4%;
    padding-left: 7%;  
    color: #fff;
    position: relative;
}

.sel_button_3:hover {
    background-color: #ffb458;
    border: 1px solid transparent;
    text-shadow: 0px 3px 6px #f6a23a;
}

.sel_button_3:active {
    background-color: #b86700;
    border: 1px solid #905000;
    text-shadow: none;
}

.sel_button_3:active > span { color: #d2c5b4; }

.sel_line { 
    width: 70%;
    height: 1px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 23px;
    border-top: 1px dashed #b4b4b4;
    background-color: #fff;
}

.sel_lan_btn:after,
.sel_lan_btn:before {
    display:block;
    content:"";
    position:absolute;
    width:2px;
    height:9px;
    background:#fff;
    right:14px;}

.sel_lan_btn:after {top:17px; -webkit-transform: rotate(45deg);transform: rotate(45deg);}
.sel_lan_btn:before {top:12px;-webkit-transform: rotate(-45deg);transform: rotate(-45deg);}


/*  @media screen and (max-width: 703px) and ( min-width: 595px) */

@media screen and (max-width: 900px) and ( min-width: 100px) {
    .sel_content { height: auto; margin-top: 90px; }
    .sel_top { height: 100%; padding-top: 15px; }
    /*.sel_top_pic { display: none;} */
    .sel_top_con { height: auto; }
    .sel_top_con_1 { height: 17px; }
    .sel_top_con_2 { 
        border-bottom: 5px solid #353543;
        min-height: 350px;
    }
    .sel_text_1 { margin-bottom: 17px; }
    .sel_text_3 { margin: 25%;}
    .sel_button { 
        width: 65%; 
        margin: 2% 8% 1%;
        position: relative;
    }
    .sel_button_2, .sel_button_3 { 
        width: 65%; 
        margin: 2% 8% 1%;
    }
    #bu_block { 
        width: 50%;
        margin: 2% 25% 1%;;
    }
    .sel_line { margin-bottom: 20px; width: 75%;}
    #sel_arrow, #sel_arrow2 { 
        position: absolute;
        right: 6%;
    }

    #sel_text_none { margin-left: 0; }
    
}
/*
@media screen and (max-width: 900px) and ( min-width: 500px) {
    .sel_button, .sel_button_2, .sel_button_3 { transform: scale(1)}
}*/

@media screen and (max-width: 500px) and ( min-width: 100px) {
    .sel_text_1 {
        margin-top : 2px; 
        margin-bottom: 7px;
        font-size: 22px;
    }
    .sel_text_2 { font-size: 15px; }
    .sel_line { 
        margin-top: 15px; 
        margin-bottom: 23px;
    }
    .sel_top_con_1 { height: 13px; }
    .sel_top_con_2 { 
        margin-top: 0; 
        min-height: 335px;
        padding: 9% 0 8px;
    }
    .sel_top { padding-top: 2px; }
    .sel_top_con { width: 80%; }
    .sel_img_line { margin-left: 21%; width: 35px; }
    .sel_button, .sel_button_2, .sel_button_3 { 
        width: 70%; 
        height: 38px;
        line-height: 34px;
        margin: 2% 0 4%;
    }
    .sel_button_3 { width: 75%; margin-right: 0;}
    .sel_lan_btn:after { top: 15px; right: 12px;}
    .sel_lan_btn:before { top: 10px; right:12px;}
    .sel_text_img, .sel_text_line { width: 35px; }
    .sel_text_line { margin-left: 0;}
    .sel_line { width: 75%;}
    
}
@media screen and (max-width: 400px) and ( min-width: 100px) { 
    .sel_img_line img {display: none;}
    .sel_text_line { 
        width: 3px; 
        height:50px;
        background-color: #ff8962;
    }
    .sel_img_line { 
        width: 3px; 
        margin-right: 9px; 
    }
 }
@media screen and (max-width: 320px) and ( min-width: 100px) {
    .sel_img_line { width: 3px; margin-right: 5px;}
    .sel_text_line { width: 3px; height: 40px; background-color: #ff8962;}
    .sel_top_con_2 {min-height: 320px;}
    .sel_top_pic { padding-top: 17px; }
    .sel_text_1 { width: 50%;}
    .country_list, #language_list { 
        width: 50%;
        padding-left: 10px;
    }
    .sel_text_1_2 { font-size: 19px; margin-left: 25%; }
    .sel_button, .sel_button_2 { width: 76%;}
    .sel_button_3 { width: 76%;}
    .sel_lan_btn:before, .sel_lan_btn:after { height: 6px; right: 8px;}
    .sel_lan_btn:before { top: 12px; }
    .sel_lan_btn:after { top: 16px; }
}