<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>수료증</title>
    <link href="./css/index.css" rel="stylesheet" type="text/css" />    
</head>
<body>
    
    <div class="back">

        <div class="medal">
            <img class="medal_img" src="images/001.png">
                <div class="medal_bot">
                    <img class="medal_bot_img" src="images/002.png">
                </div>
        </div>

        <div class="title">
            <p class="title_kor">수료증</p> 
            <p class="title_eng">AsomeMeta Certificate</p>
        </div>

        <div class="data">
            <p class="data_name">성명 :   </p> 
            <p class="data_process">과정 : </p> 
            <p class="data_number">인증번호 : </p> 
        </div>
        
        <div>
            <div class="content">
                <p class="content_font">위 사람은 메타버스 몰입형 교육플랫폼 어썸메타의<br>교육을 성실히 수행하였기에<br>이 수료증을 수여합니다. </p> 
            </div>
        </div>
        
        <div class="content">
            <p class="date"> 2022년 11월 17일</p>
        </div>
        
        <div class="bottom">
            <div class="bottom_logo">
                <img class="logo_width" src="images/003.png"><br>
                <p class="bottom_font">어썸아이티</p>
            </div>

            <div class="stamp">
                <img class="stamp_width" src="images/004.png">
            </div>
        </div>
    </div>  
</body>
    
</html>