@font-face {
    font-family: "batang";
    src: url("./../fonts/RIDIBatang.otf") format("truetype");
    font-weight: normal;
}

p {
    margin:0px;
}
    
        
.back {
    width: 100%;
    height: 100vh;
    background-image:url(./../images/back2.png), url(./../images/back.png);
    background-size: 95% 95% , 50% 30%;
    background-repeat: no-repeat;
    background-position: center, 50% 57%;
    position: relative;
            
}

.medal {
    position: relative;
    text-align: center;
}

.medal_img {
    width: 20%;
    height: 15%;
}
 
.medal_bot {
    position:absolute;
    text-align: center;
    top:49%;
    width: 100%;
}
        
.medal_bot_img {
    width: 7.5%;
}

.title {
    text-align: center; margin-top: 3%;
}
        
.title_kor {
    font-size: 10vw; font-family:batang;
}

.title_eng {
    margin-top: 4%; font-size: 2.5vw; font-family:batang;
}

.data {
    text-align: center; margin-top: 10%;
}

.data_name {
    font-size: 2.5vw; margin-left: 23%; text-align: left; font-family:batang; 
}

.data_process {
    font-size: 2.5vw; margin-left: 23%; text-align: left; margin-top:2%; font-family:batang;
}

.data_number {
    font-size: 2.5vw; margin-left: 23%; text-align: left; margin-top:2%; font-family:batang;
}

.content{
    text-align: center; margin-top: 10%; line-height:170%;
}

.content_font{
    font-size: 3vw; font-family:batang;
}

.date{
    font-size: 3vw; font-family:BMJUA;
}  

.bottom{
    margin-top: 5%; 
}

.bottom_logo{
    float: left;
    width: 55%;
    text-align: right;
    margin-right:25px;
}

.logo_width{
    width: 35%;
}

.bottom_font{
    font-size: 3.3vw; font-family:BMJUA;  
}
.stamp{
    float: left;
    width: 30% ;
}
.stamp_width{
    width: 40%;
}



@media screen and (max-width: 250px) {

    .content_font {
        font-size: 0.00001vw;
        font-family:batang;
    }
    .content{
        text-align: center; margin-top: 10%; line-height:10px;
    }
    .bottom_font{
        font-size: 1%; font-family:BMJUA;  
    }
    .medal_bot {
        position:absolute;
        text-align: center;
        top:38%;
        width: 100%;
    }
}